body {
    
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;

}

#about {
    padding-top: 70px;
    background: #ffc15e;
    
    
}

#projects {
    background: #cc5803;
    
    
}

#contact {
    
    background: #f7b05b;
    
    
}

.navbar-brand {
    
/*    font-size: 200%;*/
    
}

img {
    
    max-width: 100px;
    
}