body {
    
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

#about {
    padding: 70px 10px 10px 10px;
    background: #ffc15e;
    
    
}

#portfolio {
    background: #cc5803;
    padding: 70px 10px 10px 10px;
    
}

#contact {
    
    background: #f7b05b;
    padding: 70px 10px 10px 10px;
    
    
}

.navbar-brand {
    
/*    font-size: 200%;*/
    
}

img {
    
/*    max-width: 100px;*/
    
}

footer {
    
    background-color: rgb(55, 58, 60);
    line-height: 56px;
    padding: 0 10px;
    
}

project {
    
    margin-top: 10px;
    
}

div.project {
    
    text-align: center;
    
}