body {
    
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;


}

#about {
    
    
    
    
}

#projects {
    
    
    
}

#contact {
    
    
    
    
}

.navbar-brand {
    
/*    font-size: 200%;*/
    
}